.form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    margin-bottom: 30px;
    gap: 20px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .fieldWrapper {
    display: flex;
    flex-direction: column;
  }
  
  .btnForm {
    margin: 0 auto;
    width: 150px;
  }
  
  .field {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }